body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.i1 {
    text-indent: 55px;

}

.i2 {
    text-indent: 110px;
}

.i3 {
    text-indent: 165px;
}

.i4 {
    text-indent: 220px;
}

.title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 10px;
}

.topic {
    font-size: 48px;
    padding: 5px;
}

.subtopic {
    font-size: 42px;
    padding: 3px;
}

.article {
    font-size: 26;
}